<head>
  <link rel="stylesheet" href="/stylesheets/profiles.css">
</head>

<div class="pageView">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-xs-6 thumb profile-pic">
			  <a class="thumbnail" href="#">
					<% if (picture){%>
					<img class="img-responsive" src="<%=picture.pic_path%>" alt="">
					<%} else {%>
					<img class="img-responsive" src="/images/default-avatar.png" alt="">
					<%}%>
			  </a>
			</div>

			<div class="col-lg-4 col-md-8 col-xs-6">
			<%var name = stylist.firstName + " " + stylist.lastName %>

			<table>
			  <tr>
			    <td class="categories">Name</td>
			    <td><%= name %></td>
			  </tr>
				<tr>
			    <td class="categories">Services</td>
			    <td><%=stylist.services%></td>
			  </tr>
				<tr>
					<td class="categories">Expertise</td>
					<td><%=stylist.expertise%></td>
				</tr>
				<tr>
					<td class="categories">Price</td>
					<td><%=stylist.price%></td>
				</tr>
				<tr>
					<td class="categories">Availability</td>
					<td><%=stylist.availability%></td>
				</tr>
				<tr>
					<td class="categories">Location</td>
					<td><%=stylist.location%></td>
				</tr>
			</table>
			<br><br>
		</div>

		<div class="col-lg-5 thumb gallery">
			<h3 class="text-center">Style Gallery</h3>
		<% for (var i=0; i < pictures.length; i++) {%>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb">
				<a class="thumbnail" href="#">
					<img class="img-responsive" src="<%=pictures[i].pic_path%>" alt="">
				</a>
			</div>
		<%}%>
		</div>


	</div>
	<div class="row">
		<ul class="nav nav-pills navbar-nav">
			<li class="nav-item user-buttons">
				<a href="/login">Login</a>
			</li>
			<li class="nav-item user-buttons">
				<a href="/search">Back to search</a>
			</li>
		</ul>
	</div>
</div>

	<script src="/javascripts/profile.js"></script>
</div>
