<head>
  <link rel="stylesheet" href="/stylesheets/profiles.css">
	<script type="text/javascript" src="../../jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../../moment/min/moment.min.js"></script>
  <script type="text/javascript" src="../../bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
</head>

<div class="pageView">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-xs-6 thumb profile-pic">
			  <a class="thumbnail" href="#">
					<% if (picture){%>
					<img class="img-responsive" src="<%=picture.pic_path%>" alt="">
					<%} else {%>
					<img class="img-responsive" src="/images/default-avatar.png" alt="">
					<%}%>
			  </a>
			</div>

			<div class="col-lg-4 col-md-8 col-xs-6">
			<%var name = stylist.firstName + " " + stylist.lastName %>

			<table>
			  <tr>
			    <td class="categories">Name</td>
			    <td><%= name %></td>
			  </tr>
				<tr>
			    <td class="categories">Services</td>
			    <td><%=stylist.services%></td>
			  </tr>
				<tr>
					<td class="categories">Expertise</td>
					<td><%=stylist.expertise%></td>
				</tr>
				<tr>
					<td class="categories">Price</td>
					<td><%=stylist.price%></td>
				</tr>
				<tr>
					<td class="categories">Availability</td>
					<td><%=stylist.availability%></td>
				</tr>
				<tr>
					<td class="categories">Location</td>
					<td><%=stylist.location%></td>
				</tr>
			</table>
			<br><br>

			<button type="button" id="book">Book with <%=name%></button>

			<form action="./<%=URLId%>" method="POST">
				<div class="appointmentBox hide">
						<label for="bookAppointment">Pick an appointment time</label>
						<div class="container">
					    <div class="row">
					        <div class='col-sm-6'>
					            <div class="form-group">
					                <div class='input-group date' id='datetimepicker1'>
					                    <input name="dateTime" type='text' class="form-control" />
					                    <span class="input-group-addon">
					                        <span class="glyphicon glyphicon-calendar"></span>
					                    </span>
					                </div>
					            </div>
					        </div>
					        <script type="text/javascript">
					            $(function () {
					                $('#datetimepicker1').datetimepicker();
					            });
					        </script>
					    </div>
					</div>
					<textarea name="bookingReq" id="bookingReq" cols="30" rows="10" placeholder="Write any special requests here"></textarea>
					<button class="sendRequest" type="submit" value="Request an Appointment">Request an Appointment</button>
				</div>
			</form>
		  <div class="bookingConfirmation">
				<% if (typeof message != "undefined"){%>
		      <p><%=message%></p>
				<%}%>
		  </div>
		</div>



		<div class="col-lg-5 thumb gallery">
			<h3 class="text-center">Style Gallery</h3>
		<% for (var i=0; i < pictures.length; i++) {%>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb">
				<a class="thumbnail" href="#">
					<img class="img-responsive" src="<%=pictures[i].pic_path%>" alt="">
				</a>
			</div>
		<%}%>
		</div>


	</div>
	<div class="row">
		<ul class="nav nav-pills navbar-nav">
			<% if (typeof user != "undefined") { console.log(user);%>
				<li class="nav-item user-buttons">
					<a href="/logout">Logout</a>
				</li>
			<%}%>
			<li class="nav-item user-buttons">
				<a href="/search">Back to search</a>
			</li>
		</ul>
	</div>
</div>

	<script src="/javascripts/profile.js"></script>
</div>
