<head>
  <link rel="stylesheet" href="/stylesheets/profiles.css">
  <script type="text/javascript" src="../../jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../../moment/min/moment.min.js"></script>
  <script type="text/javascript" src="../../bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
</head>

<div class="pageView">
	<a href="/search">Back to search</a>
	<br>
	<a href="./<%=URLId%>/portfolio">Stylist Portfolio</a>
	<br>

	<div class="col-lg-3 col-md-4 col-xs-6 thumb">
	  <a class="thumbnail" href="#">
	    <img class="img-responsive" src="/images/default-avatar.png" alt="">
	  </a>
	</div>


	<%var name = stylist.firstName + " " + stylist.lastName %>

	<table>
	  <tr>
	    <td>Name</td>
	    <td><%= name %></td>
	  </tr>
		<tr>
	    <td>Services</td>
	    <td><%=stylist.services%></td>
	  </tr>
		<tr>
			<td>Expertise</td>
			<td><%=stylist.expertise%></td>
		</tr>
		<tr>
			<td>Languages</td>
			<td><%=stylist.languages%></td>
		</tr>
		<tr>
			<td>Description</td>
			<td><%=stylist.description%></td>
		</tr>
		<tr>
			<td>Price</td>
			<td><%=stylist.price%></td>
		</tr>
		<tr>
			<td>Availability</td>
			<td><%=stylist.availability%></td>
		</tr>
		<tr>
			<td>Location</td>
			<td><%=stylist.location%></td>
		</tr>
	</table>
	<br><br>
	<button type="button" id="book">Book with <%=name%></button>

	<form action="./<%=URLId%>" method="POST">
		<div class="appointmentBox hide">
				<label for="bookAppointment">Pick an appointment time</label>
				<div class="container">
			    <div class="row">
			        <div class='col-sm-6'>
			            <div class="form-group">
			                <div class='input-group date' id='datetimepicker1'>
			                    <input name="dateTime" type='text' class="form-control" />
			                    <span class="input-group-addon">
			                        <span class="glyphicon glyphicon-calendar"></span>
			                    </span>
			                </div>
			            </div>
			        </div>
			        <script type="text/javascript">
			            $(function () {
			                $('#datetimepicker1').datetimepicker();
			            });
			        </script>
			    </div>
			</div>
			<textarea name="bookingReq" id="bookingReq" cols="30" rows="10" placeholder="Write any special requests here"></textarea>
			<button class="sendRequest" type="button" value="Request an Appointment">Request an Appointment</button>
		</div>
	</form>
  <div class="bookingConfirmation hide">
      <p>You're booking request has been made. Pending stylist confirmation.
      You can view your request from your <a href="/profile">profile.</a>
      </p>
  </div>


	<script src="/javascripts/profile.js"></script>
</div>
