<head>
	<link rel="stylesheet" href="/stylesheets/profiles.css">
</head>

<div class="pageView">
	<a href="/profile/pictures">Pictures</a>
	<br>
	<a href="/profile/edit">Edit Profile</a>
	<br>
	<a href="/logout">Logout</a>
	<br>

	<div class="col-lg-3 col-md-4 col-xs-6 thumb">
	  <a class="thumbnail" href="#">
	    <% if (picture){%>
	    <img class="img-responsive" src="<%=picture.pic_path%>" alt="">
	    <%} else {%>
	    <img class="img-responsive" src="/images/default-avatar.png" alt="">
	    <%}%>
	  </a>
	</div>


<%var name = (user.firstName.charAt(0).toUpperCase() + user.firstName.slice(1)) + " " + (user.lastName.charAt(0).toUpperCase() + user.lastName.slice(1)); %>

	<table>
	  <tr>
	    <td>Name</td>
	    <td><%= name %></td>
	  </tr>
		<tr>
			<td>Username</td>
			<td><%=user.username%></td>
		</tr>
	  <tr>
	    <td>Appointments:</td>
			<% if (appointments.length == 0) {%>
				<td>You have no appointments, why don't you <a href="/search">look for some?</a></td>
			<%} else {%>
		    	<%appointments.forEach((app)=> {%>
            <%var styleName = (app.stylist.firstName.charAt(0).toUpperCase() + app.stylist.firstName.slice(1)) + " " + (app.stylist.lastName.charAt(0).toUpperCase() + app.stylist.lastName.slice(1)); %>
		      <tr>
		      <td>When: <%=app.date.toDateString()%></td>
		      <td>At: <%=app.startTime.toLocaleTimeString()%></td>
		      <td>With: <%=styleName %></td>
		      <td>Booking status:
		        <%if (app.accept === false) {%>
		          Pending confirmation
		        <%} else {%>
		          Confirmed
		          <%}%></td>
		      </tr>
	    	<%});%>
			<%}%>
	  </tr>
	  </table>



	  <ul>Reviews:
      <% if (appointments.length !== 0){%>
        <% for (var i = 0; i < appointments.length; i++){%>
          <% if (appointments[i].stylist.reviews.length > 0) {%>
            <% for (var j = 0; j < appointments[i].stylist.reviews.length; j++) {%>
              <% var appsRev = appointments[i].stylist.reviews[j];%>
                <% if (JSON.stringify(appsRev.userId) == JSON.stringify(user._id)) {%>
                  <%var stylName = (appointments[i].stylist.firstName.charAt(0).toUpperCase() + appointments[i].stylist.firstName.slice(1)) + " " + (appointments[i].stylist.lastName.charAt(0).toUpperCase() + appointments[i].stylist.lastName.slice(1)); %>
                    <li><p>For stylist: <%=stylName%></p>
                    <p><%=appsRev.comment%></p>
                    <p>Stars: <%=appsRev.stars%></p>
                    <% if( appsRev.date !== undefined){%>
                      <p>Date: <%= appsRev.date.toDateString();%> </p></li>
                    <%}%>
                  <%}%>
              <%}%>
            <%}%>

            <%}%>
          <%} else {%>
                <p>You don't have any reviews to show</p>
                <%console.log("No appointment"); %>%>
       <%}%>












	  </ul>

</div>
