<head>
	<link rel="stylesheet" href="/stylesheets/profiles.css">
</head>

<div class="pageView">
	<div class="row">
		<div class="col-lg-3 col-md-4 col-xs-6 thumb profile-pic">
		  <form action="/profile/photo-upload" method="POST" enctype="multipart/form-data">
		    <a class="thumbnail" href="#">
		      <% console.log(picture);
		      if (picture){%>
		      <img class="img-responsive" src="<%=picture.pic_path%>" alt="">
		      <%} else {%>
		      <img class="img-responsive" src="/images/default-avatar.png" alt="">
		      <%}%>
		    </a>
		    <input type="file" name="file">
		    <input class="btn upload" type="submit" value="Upload">
		  </form>
		</div>

		<div class="col-lg-4 col-md-4 col-xs-6 edit-profile">
			<form action="/profile/edit" method="POST">
			  <label for="firstName">First name:</label>
			  <input type="text" name="firstName" value="<%=user.firstName%>">
			  <label for="lastName">Last name:</label>
			  <input type="text" name="lastName" value="<%=user.lastName%>">
			  <label for="username">Username:</label>
			  <input type="text" name="username" value="<%=user.username%>">
			  <div>
			      <dl>Appointments:
			      <% appointments.forEach((app)=> {%>
			          <li class="ls">When: <%=app.date.toDateString()%>
			          At: <%=app.startTime.toLocaleTimeString()%>
			          With: <a href="/view-stylist/<%=app.stylist.firstName%>.<%=app.stylist.lastName%>"><p class="usernameStyl"><%=app.stylist.username %></p></a>
			        <button type="button" class="review btn">Leave a review</button>
			        </li>
			      </dl>
			        <%});%>
			    </div>
			    <div class="reviewBox hide">
			        <label for="review">Leave a review for:</label>
			        <input id="stylistName" type="text" name="stylistName">
			        <label for="stars">Star Rating:</label>
			        <input type="number" name="stars">
			        <textarea name="review" id="review" cols="30" rows="10"></textarea>
			    </div>

			  <br>
			  <button class="btn" type="submit">Update profile</button>
			</form>
		</div>

		<div class="col-lg-5 col-md-4 col-xs-6">
			<h3 class="text-center">Style Gallery</h3>
			<% for (var i=0; i < pictures.length; i++) {%>
				<div class="col-lg-3 col-md-4 col-xs-6 thumb">
					<a class="thumbnail" href="#">
						<img class="img-responsive" src="<%=pictures[i].pic_path%>" alt="">
					</a>
				</div>
			<%}%>

			<div class="col-lg-3 col-md-4 col-xs-6 thumb">
					<form action="/profile/pictures/upload" method="POST" enctype="multipart/form-data">
						<a class="thumbnail" href="#">
							<img class="img-responsive" src="/images/imgplaceholder.png" alt="">
						</a>
						<input type="file" name="file">
						<input class="btn upload" type="submit" value="Upload">
					</form>
			</div>
		</div>
	</div>

	<div class="row">
		<ul class="nav nav-pills navbar-nav">
			<li class="nav-item user-buttons">
				<a href="/profile">Profile</a>
			</li>
			<li class="nav-item user-buttons">
				<a href="/logout">Logout</a>
			</li>
		</ul>
	</div>
	<ul class="nav nav-pills navbar-nav">
		<li class="nav-item user-buttons">
			<a href="/profile">Profile</a>
		</li>
		<li class="nav-item user-buttons">
			<a href="/logout">Logout</a>
		</li>
	</ul>

	<script src="/javascripts/profile.js"></script>
</div>
