<head>
	<link rel="stylesheet" href="/stylesheets/profiles.css">
</head>

<div class="pageView">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-xs-6 thumb">
				<a class="thumbnail" href="#">
					<% if (picture){%>
					<img class="img-responsive" src="<%=picture.pic_path%>" alt="">
					<%} else {%>
					<img class="img-responsive" src="/images/default-avatar.png" alt="">
					<%}%>
				</a>
			</div>

			<div class="col-lg-4 col-md-4 col-xs-6">
				<%var name = (user.firstName.charAt(0).toUpperCase() + user.firstName.slice(1)) + " " + (user.lastName.charAt(0).toUpperCase() + user.lastName.slice(1)); %>

				<table>
					<tr>
						<td class="categories">Name</td>
						<td><%= name %></td>
					</tr>
					<tr>
						<td class="categories">Username</td>
						<td><%=user.username%></td>
					</tr>
					<tr>
						<td class="categories">Appointments:</td>
						<% if (appointments.length == 0) {%>
							<td>You have no appointments, why don't you <a href="/search">look for some?</a></td>
						<%} else {
								appointments.forEach((app)=> {%>
								<tr>
								<td>When: <%=app.date.toDateString()%></td>
								<td>At: <%=app.startTime.toLocaleTimeString()%></td>
								<td>With: <%=app.stylist.username %></td>
                <td>Booking status:
                  <%if (app.accept === false) {%>
                    Pending confirmation
                  <%} else {%>
                    Confirmed
                    <%}%></td>
								</tr>
							<%});
							}%>
					</tr>
					<tr>
						<td class="categories">Reviews: </td>
						<td>
						<% if (appointments[0]){%>
							<% for (var i = 0; i < appointments.length; i++){%>
							 <% for (var j = 0; j < appointments[i].stylist.reviews.length; j++) {%>
								 <% var appsRevs = appointments[i].stylist.reviews[j];%>
								 <li><p>For stylist: <%=appointments[i].stylist.username%></p>
									 <p><%=appsRevs.comment%></p>
									 <p>Stars: <%=appsRevs.stars%></p>
									 <% if( appsRevs.date !== undefined){%>
										 <p>Date: <%= appsRevs.date.toDateString();%> </p></li>
									 <%}%>
							 <%}%>
						 <%}%>
							<% console.log("there is an appointment");%>
							<%} else {%>
								<p>You don't have any reviews to show</p>
								<%console.log("No appointment"); %>
								<%}%>
						</td>
					</tr>
					</table>

			</div>

		</div>
	</div>
	<div class="row">
		<ul class="nav nav-pills navbar-nav">
			<li class="nav-item user-buttons">
				<a href="/profile/pictures">Pictures</a>
			</li>
			<li class="nav-item user-buttons">
				<a href="/profile/edit">Edit Profile</a>
			</li>
			<li class="nav-item user-buttons">
				<a href="/logout">Logout</a>
			</li>
		</ul>
	</div>

</div>
