<head>
	<link rel="stylesheet" href="/stylesheets/profiles.css">
</head>

<a href="/stylist/profile/portfolio">Stylist Portfolio</a>
<br>
<a href="/stylist/profile/edit">Edit Profile</a>
<br>
<a href="/logout">Logout</a>

<div class="col-lg-3 col-md-4 col-xs-6 thumb">
  <a class="thumbnail" href="#">
    <img class="img-responsive" src="/images/default-avatar.png" alt="">
  </a>
</div>


<%var name = user.firstName + " " + user.lastName %>

<table>
  <tr>
    <td>Name</td>
    <td><%= name %></td>
  </tr>
	<tr>
    <td>Services</td>
    <td><%=user.services%></td>
  </tr>
	<tr>
		<td>Expertise</td>
		<td><%=user.expertise%></td>
	</tr>
	<tr>
		<td>Languages</td>
		<td><%=user.languages%></td>
	</tr>
	<tr>
		<td>Description</td>
		<td><%=user.description%></td>
	</tr>
	<tr>
		<td>Price</td>
		<td><%=user.price%></td>
	</tr>
	<tr>
		<td>Availability</td>
		<td><%=user.availability%></td>
	</tr>
	<tr>
		<td>Location</td>
		<td><%=user.location%></td>
	</tr>
</table>
