<head>
	<link rel="stylesheet" href="/stylesheets/profiles.css">
</head>

<a href="/stylist/profile/portfolio">Stylist Portfolio</a>
<br>
<a href="/stylist/profile/edit">Edit Profile</a>
<br>
<a href="/logout">Logout</a>

<%var name = user.firstName + " " + user.lastName %>
<form action="/stylist-profile" method="POST">
  <h5>Add a profile picture</h5>
<input type="file" name="profilePic">
    <button type="submit">Add</button>
  </form>
<table>
  <tr>
    <td>Name</td>
    <td><%= name %></td>
  </tr>
	<tr>
    <td>Services</td>
    <td><%=user.services%></td>
  </tr>
	<tr>
		<td>Expertise</td>
		<td><%=user.expertise%></td>
	</tr>
	<tr>
		<td>Languages</td>
		<td><%=user.languages%></td>
	</tr>
	<tr>
		<td>Description</td>
		<td><%=user.description%></td>
	</tr>
	<tr>
		<td>Price</td>
		<td><%=user.price%></td>
	</tr>
	<tr>
		<td>Availability</td>
		<td><%=user.avatar%></td>
	</tr>
	<tr>
		<td>Location</td>
		<td><%=user.location%></td>
	</tr>
</table>

<script type="text/javascript" src="../javascripts/profile.js"></script>
