<head>
	<link rel="stylesheet" href="/stylesheets/profiles.css">
</head>

<div class="pageView">

	<div class="col-lg-3 col-md-4 col-xs-6 thumb">
	  <form action="/stylist/profile/photo-upload" method="POST" enctype="multipart/form-data">
	    <a class="thumbnail" href="#">
	      <%if (picture){%>
	      <img class="img-responsive" src="<%=picture.pic_path%>" alt="">
	      <%} else {%>
	      <img class="img-responsive" src="/images/default-avatar.png" alt="">
	      <%}%>
	    </a>
	    <input type="file" name="file">
	    <input type="submit" value="Upload">
	  </form>
	</div>

	<div class="col-lg-4 col-md-8 col-xs-6">

		<form action="/stylist/profile/edit" method="POST">

		  <label for="firstName">First name:</label>
		  <input type="text" name="firstName" value="<%=user.firstName%>">
		  <label for="lastName">Last name:</label>
		  <input type="text" name="lastName" value="<%=user.lastName%>">
		  <label for="username">Username:</label>
		  <input type="text" name="username" value="<%=user.username%>">
			<label for="services">Services:</label>
			<label class="checkbox-inline services">
				<% if (user.services.indexOf("Cut") != -1) {%>
					<input type="checkbox" name="cut" value="Cut" checked>Cut
				<%} else {%>
					<input type="checkbox" name="cut" value="Cut">Cut
				<%}%>
					<input type="text" name="cutPrice" value="" placeholder="Average price">
			</label>
			<label class="checkbox-inline services">
				<% if (user.services.indexOf("Blow Dry") != -1) {%>
					<input type="checkbox" name="blowdry" value="Blow Dry" checked>Blow Dry
				<%} else {%>
					<input type="checkbox" name="blowdry" value="Blow Dry">Blow Dry
				<%}%>
					<input type="text" name="blowdryPrice" value="" placeholder="Average price">
			</label>
			<label class="checkbox-inline services">
				<% if (user.services.indexOf("Color") != -1) {%>
					<input type="checkbox" name="color" value="Color" checked>Color
				<%} else {%>
					<input type="checkbox" name="color" value="Color">Color
				<%}%>
					<input type="text" name="colorPrice" value="" placeholder="Average price">
			</label>
			<br>
		  <label for="expertise">Expertise:</label>
		  <input type="text" name="expertise" value="<%=user.expertise%>">
			<br>
		  <label for="availability">Availability:</label>
			<label class="checkbox-inline availability">
				<% if (user.availability.indexOf("Monday") != -1) {%>
					<input type="checkbox" name="monday" value="Monday" checked>Monday
				<%} else {%>
					<input type="checkbox" name="monday" value="Monday">Monday
				<%}%>
			</label>
			<label class="checkbox-inline availability">
				<% if (user.availability.indexOf("Tuesday") != -1) {%>
					<input type="checkbox" name="tuesday" value="Tuesday" checked>Tuesday
				<%} else {%>
					<input type="checkbox" name="tuesday" value="Tuesday">Tuesday
				<%}%>
			</label>
			<label class="checkbox-inline availability">
				<% if (user.availability.indexOf("Wednesday") != -1) {%>
					<input type="checkbox" name="wednesday" value="Wednesday" checked>Wednesday
				<%} else {%>
					<input type="checkbox" name="wednesday" value="Wednesday">Wednesday
				<%}%>
			</label>
			<label class="checkbox-inline availability">
				<% if (user.availability.indexOf("Thursday") != -1) {%>
					<input type="checkbox" name="thursday" value="Thursday" checked>Thursday
				<%} else {%>
					<input type="checkbox" name="thursday" value="Thursday">Thursday
				<%}%>
			</label>
			<label class="checkbox-inline availability">
				<% if (user.availability.indexOf("Friday") != -1) {%>
					<input type="checkbox" name="friday" value="Friday" checked>Friday
				<%} else {%>
					<input type="checkbox" name="friday" value="Friday">Friday
				<%}%>
			</label>
			<label class="checkbox-inline availability">
				<% if (user.availability.indexOf("Saturday") != -1) {%>
					<input type="checkbox" name="saturday" value="Saturday" checked>Saturday
				<%} else {%>
					<input type="checkbox" name="saturday" value="Saturday">Saturday
				<%}%>
			</label>
			<label class="checkbox-inline availability">
				<% if (user.availability.indexOf("Sunday") != -1) {%>
					<input type="checkbox" name="sunday" value="Sunday" checked>Sunday
				<%} else {%>
					<input type="checkbox" name="sunday" value="Sunday">Sunday
				<%}%>
			</label>
			<br>
		  <label for="mobile">Home visits/Salon:</label>
		  <input type="text" name="mobile" value="<%=user.mobile%>">
		  <label for="location">Location:</label>
		  <input type="text" name="location" id="location" value="<%=user.location%>">
			<input type="text" class="hide" name="lon" id="lon">
			<input type="text" class="hide" name="lat" id="lat">
		  <button type="submit">Update profile</button>
		</form>
	</div>

	<div class="col-lg-5 col-md-4 col-xs-6 gallery">
		<h3 class="text-center">Style Gallery</h3>
		<% for (var i=0; i < pictures.length; i++) {%>
			<div class="col-lg-3 col-md-4 col-xs-6 thumb">
				<a class="thumbnail" href="#">
					<img class="img-responsive" src="<%=pictures[i].pic_path%>" alt="">
				</a>
			</div>
		<%}%>

		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
				<form action="/stylist/profile/portfolio/upload" method="POST" enctype="multipart/form-data">
					<a class="thumbnail" href="#">
						<img class="img-responsive" src="/images/imgplaceholder.png" alt="">
					</a>
					<input type="file" name="file">
					<input type="submit" value="Upload">
				</form>
		</div>
	</div>

	<ul class="nav nav-pills navbar-nav">
		<li class="nav-item user-buttons">
			<a href="/stylist/profile">Profile</a>
		</li>
		<li class="nav-item user-buttons">
			<a href="/logout">Logout</a>
		</li>
	</ul>

	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPr_6SPIIKbgLtuwBMSnZmiAg2kTwlXPc&libraries=places"></script>
	<script src="../../javascripts/getlocations.js"></script>
</div>
