<head>
	<link rel="stylesheet" href="/stylesheets/profiles.css">
</head>

<div class="pageView">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-xs-6 thumb profile-pic">
			  <a class="thumbnail" href="#">
					<% if (picture){%>
					<img class="img-responsive" src="<%=picture.pic_path%>" alt="">
					<%} else {%>
					<img class="img-responsive" src="/images/default-avatar.png" alt="">
					<%}%>
			  </a>
			</div>


			<div class="col-lg-5 col-md-8 col-xs-6">
			  <%var name = (user.firstName.charAt(0).toUpperCase() + user.firstName.slice(1)) + " " + (user.lastName.charAt(0).toUpperCase() + user.lastName.slice(1)); %>
				<table>
				  <tr>
				    <td class="categories" >Name</td>
				    <td><%= name %></td>
				  </tr>
					<tr>
				    <td class="categories">Services</td>
						<%user.services.forEach(function(services){%>
							<td><%=services%></td>
						<%})%>
				  </tr>
					<tr>
						<td class="categories">Expertise</td>
						<td><%=user.expertise%></td>
					</tr>
					<tr>
						<td class="categories">Price</td>
						<td><%=user.price%></td>
					</tr>
					<tr>
						<td class="categories">Availability</td>
						<td>
							<%user.availability.forEach(function(availability){%>
								<%=availability%>,
							<%})%>
						</td>
					</tr>
					<tr>
						<td class="categories">Location</td>
						<td><%=user.location%></td>
					</tr>
				  <tr>
				    <td class="categories">Appointments:</td>
						<% if (appointments.length == 0) {%>
							<td>You have no appointments.</a></td>
						<%} else {
				    appointments.forEach((app)=> {%>
				      <% var userIs = app.user.firstName + app.user.lastName;%>
				      <div class="appointment">
					      <tr>
					      <td>When: <%=app.date.toDateString()%></td>
					      <td>At: <%=app.startTime.toLocaleTimeString()%></td>
					      <td>With: <%=userIs %></td>
					      <span class="appId hide"><%=app._id%></span>
					        <%if (app.accept === false) {%>
					          <td class="acceptReject">
											<input type="submit" name="acceptReq" class="confirmReq acceptReq" value="Accept">
					          	<input type="submit" name="rejectReq" class="confirmReq rejectReq" value="Decline">
										</td>
					        	<td class="newBookingConfirmed hide">Booking confirmed.</td>
									<%}%>
					      </tr>
					    </div>
						<%  })
				    };%>
				  </tr>
					<tr>
						<td class="categories">Reviews left by clients:</td>
					    <% stylistRev.forEach( (review)=> {%>
					      <%if (stylistRev.length == 0) {%>
					        <td>No Reviews have been left for you</td>
					      <%} else {%>
					        <td>Client : <%=review.name%>, Comments : <%=review.comment%>, Stars : <%=review.name%></td>
					      <%}%>
					  <%});%>
					</tr>
					</table>

			</div>

			<div class="col-lg-4 thumb gallery">
				<h3 class="text-center">Style Gallery</h3>
				<% for (var i=0; i < pictures.length; i++) {%>
					<div class="col-lg-4 col-md-4 col-xs-6 thumb">
						<a class="thumbnail" href="#">
							<img class="img-responsive" src="<%=pictures[i].pic_path%>" alt="">
						</a>
					</div>
				<%}%>
			</div>


		</div>
	</div>



	<div class="row">
		<ul class="nav nav-pills navbar-nav">
			<li class="nav-item user-buttons">
				<a href="/stylist/profile/edit">Edit Profile</a>
			</li>
			<li class="nav-item user-buttons">
				<a href="/logout">Logout</a>
			</li>
		</ul>
	</div>


	<script src="/javascripts/profile.js"></script>

</div>
